

.h-dialog {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    overflow-x: hidden;
    overflow-y: auto;
}

.h-dialog .h-dialog-background {
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 10001;
}

.h-dialog .h-dialog-content {
    position: absolute;
    width: 800px;   
    background-color: #ffffff;
    z-index: 10002;
    right: 0;
    left: 0;
    margin: auto;
    top: 4%;   
    border-radius: 6px;
}

    .h-dialog .h-dialog-content .h-dialog-header {
        position: relative;
        display: flex;
        padding: 5px;
    }

        .h-dialog .h-dialog-content .h-dialog-header .h-dialog-header-title {
            padding: 24px;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .h-dialog .h-dialog-content .h-dialog-header .h-dialog-header-close {
            position: absolute;
            top: 0;
            right: 0;
        }

        .h-dialog .h-dialog-content .h-dialog-header .h-dialog-header-close button {
            background-color: #ffffff;
            width: 40px;
            height: 40px;
            border-radius: 0 6px 0 0;
            border: none;
            outline: none;
            cursor: pointer;
            background-image: url('../../content/icon/x.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

            .h-dialog .h-dialog-content .h-dialog-header .h-dialog-header-close button:hover {
                background-color: #ccc;
            }

    .h-dialog .h-dialog-content .h-dialog-content-body {
        display: flex;
    }



    .h-dialog .h-dialog-content .h-dialog-footer {
        width: 100%;
        background-color: #e5e5e5;
        align-items: center;
        margin-top: 25px;
        padding: 12px 20px 12px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .content-delete {
        height: fit-content;
        top: 0 !important;  
        bottom: 0 !important;  
    }
    .warning-text {
        padding: 16px;
        text-align: center;
      }
      
      .warning-btn {
        display: flex;
        width: 100%;
        justify-content: center;
      }
      
      .warning-btn>button {
        margin-left: 16px;
        margin-bottom: 16px;
      }